.row img{
    width: 30%;
}
.bg{
    background-image: url(resources/img/Picture5.png);
    background-blend-mode:normal;
}

.btn{
    background-image: url(resources/img/Picture6.png);
    font-weight: bold;
    background-size: cover;
}

.small{
    color: rgb(101,1,213);
}

